.pink {
  background-color: #e6005c;
  width: 40%;
  height: 150px;
  margin: auto;
}

.purple {
  background-color: #aa00ff;
  width: 40%;
  height: 100px;
  margin: auto;
}

.blue {
  background-color: #3333ff;
  width: 40%;
  height: 150px;
  margin: auto;
}

.pastel {
  background-color: #d9b3ff;
  width: 50%;
  height: 150px;
  margin: auto;
}

.frosting {
  background-color: #b3ffff;
  width: 50%;
  height: 150px;
  margin: auto;
}
